name: deploy_firebase_hosting
on:
  push:
    branches:
      - master
jobs:
  deploy_firebase_hosting:
    runs-on: macos-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@master
      - name: Install Dependencies
        run: yarn install
      - name: Build
        run: yarn run build
      - name: Deploy to Firebase
        run: yarn deploy --token=${{1//0eW6EKmM_3OinCgYIARAAGA4SNwF-L9IrRgAXgKN0SM4wdA7D6e0lZU0VBq-0L8qPoGeDIhy6trzRlW5RHBV6__ivX1DTnhwp66o}}
